
/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  background-color: #1c1f26;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  z-index: 10;
  margin-right:5px;
  margin-left:5px;
  margin-top: 70px;
  margin-bottom: 40px;
  }

  
  