.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-form input {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .forgot-password-form button {
    padding: 10px;
    background-color: #2a9d8f;
    color: white;
    border: none;
  }
  