/* General Layout */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  display: flex;
  flex-direction: column;
}

/* Layout adjustment */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto; /* Enable vertical scrolling */
}

.main-container {
  margin-left: 60px; /* Adjust margin */
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    width: 60px; /* Shrink sidebar for small screens */
    padding: 10px;
  }
}
